$success: #47B272;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@font-face {
    font-family: Bebas;
    src: url(../../dist/fonts/BebasNeue.otf);
}

// ANIMATIONS

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $success; }
  }

  /* slide effect */
  @keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: rotate(-10deg);

    }
}

nav {
    font-family: bebas;
    font-size: 2em;
    background-color: rgb(24, 24, 24) !important;
}


h1, .h1 {
    font-size: 6em;
    line-height: 0.8em;
}
h3, .h3 {
    font-size: 4em;
    line-height: 0.8em;
}

#about {
    font-family: Bebas;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    .textbox {
        @media (min-width: 765px){
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%,-50%);
        }
        @media (max-width: 765px){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .typewriting {
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            @media (min-width: 600px){
                border-right:  10px solid orange; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                letter-spacing: .08em; /* Adjust as needed */
                animation: 
                typing 1.5s steps(30, end),
                blink-caret .85s step-end infinite;
            }
        }
        .btn-about {
            border-radius: 10px;
        }
    }

    #green_block {
        position: absolute;
        height: 150vh;
        width: 60%;
        top: -20%;
        right: -20%;
        transform: rotate(-10deg);
        animation: slide 2s;
    }
    
}
